$white: #FFFFFF !default;
$black: #000000 !default;

//Gray Light

$su-gray-light-100: #ADB3B8 !default;
$su-gray-light-90: #B5BBBF !default;
$su-gray-light-80: #BDC2C6 !default;
$su-gray-light-70: #C6CACD !default;
$su-gray-light-60: #CED1D4 !default;
$su-gray-light-50: #D6D9DC !default;
$su-gray-light-40: #DFE1E3 !default;
$su-gray-light-30: #E6E8EA !default;
$su-gray-light-20: #EFF0F1 !default;
$su-gray-light-10: #F7F7F8 !default;
$su-gray-light-5: #FCFCFC !default;

//Gray Medium

$su-gray-medium-100: #707780 !default;
$su-gray-medium-90: #7E858D !default;
$su-gray-medium-80: #8D9299 !default;
$su-gray-medium-70: #9BA0A6 !default;
$su-gray-medium-60: #A9ADB3 !default;
$su-gray-medium-50: #B8BBC0 !default;
$su-gray-medium-40: #C6C9CC !default;
$su-gray-medium-30: #D4D6D9 !default;
$su-gray-medium-20: #E2E4E6 !default;
$su-gray-medium-10: #F1F1F2 !default;
$su-gray-medium-5: #FBFBFB !default;

//Gray Dark

$su-gray-dark-100: #404040 !default;
$su-gray-dark-90: #535353 !default;
$su-gray-dark-80: #666666 !default;
$su-gray-dark-70: #797979 !default;
$su-gray-dark-60: #8C8C8C !default;
$su-gray-dark-50: #A0A0A0 !default;
$su-gray-dark-40: #B3B3B3 !default;
$su-gray-dark-30: #C6C6C6 !default;
$su-gray-dark-20: #D9D9D9 !default;
$su-gray-dark-10: #ECECEC !default;

//Blue Primary
$su-blue-primary-100: #000E54;
$su-blue-primary-90: #1A2665;
$su-blue-primary-80: #333E76;
$su-blue-primary-70: #4D5687;
$su-blue-primary-60: #666E98;
$su-blue-primary-50: #8087AA;
$su-blue-primary-40: #999FBB;
$su-blue-primary-30: #B3B7CC;
$su-blue-primary-20: #CCCFDD;
$su-blue-primary-10: #E6E7EE;

//Blue Medium
$su-blue-medium-100: #203299;
$su-blue-medium-90: #3647A3;
$su-blue-medium-80: #4D5BAD;
$su-blue-medium-70: #6370B8;
$su-blue-medium-60: #7984C2;
$su-blue-medium-50: #9099CC;
$su-blue-medium-40: #A6ADD6;
$su-blue-medium-30: #BCC2E0;
$su-blue-medium-20: #D2D6EB;
$su-blue-medium-10: #E9EBF5;

//Blue Light
$su-blue-light-100: #2B72D7;
$su-blue-light-90: #4080DB;
$su-blue-light-80: #558EDF;
$su-blue-light-70: #6B9CE3;
$su-blue-light-60: #80AAE7;
$su-blue-light-50: #95B9EB;
$su-blue-light-40: #AAC7EF;
$su-blue-light-30: #BFD8F3;
$su-blue-light-20: #D5E3F7;
$su-blue-light-10: #EAF1FB;

//Orange Dark
$su-orange-dark-100: #D74100;
$su-orange-dark-90: #DB541A;
$su-orange-dark-80: #DF6733;
$su-orange-dark-70: #E37A4D;
$su-orange-dark-60: #E78D66;
$su-orange-dark-50: #EBA080;
$su-orange-dark-40: #EFB399;
$su-orange-dark-30: #F3C6B3;
$su-orange-dark-20: #F7D9CC;
$su-orange-dark-10: #FBECE6;

//Orange Primary
$su-orange-primary-100: #F76900;
$su-orange-primary-90: #F8781A;
$su-orange-primary-80: #F98733;
$su-orange-primary-70: #F9964D;
$su-orange-primary-60: #FAA566;
$su-orange-primary-50: #FBB480;
$su-orange-primary-40: #FCC399;
$su-orange-primary-30: #FDD2B3;
$su-orange-primary-20: #FDE1CC;
$su-orange-primary-10: #FEF0E6;

//Orange Medium
$su-orange-medium-100: #FF431B;
$su-orange-medium-90: #FF5632;
$su-orange-medium-80: #FF6949;
$su-orange-medium-70: #FF7B5F;
$su-orange-medium-60: #FF8E76;
$su-orange-medium-50: #FFA18D;
$su-orange-medium-40: #FFB4A4;
$su-orange-medium-30: #FFC7BB;
$su-orange-medium-20: #FFD9D1;
$su-orange-medium-10: #FFECE8;

//Orange Light
$su-orange-light-100: #FF8E00;
$su-orange-light-90: #FF991A;
$su-orange-light-80: #FFA533;
$su-orange-light-70: #FFB04D;
$su-orange-light-60: #FFBB66;
$su-orange-light-50: #FFC780;
$su-orange-light-40: #FFD299;
$su-orange-light-30: #FFDDB3;
$su-orange-light-20: #FFE8CC;
$su-orange-light-10: #FFF4E6;