$white: #FFFFFF;
$black: #000000;

//Gray Light

$su-gray-light-100: #ADB3B8;
$su-gray-light-90: #B5BBBF;
$su-gray-light-80: #BDC2C6;
$su-gray-light-70: #C6CACD;
$su-gray-light-60: #CED1D4;
$su-gray-light-50: #D6D9DC;
$su-gray-light-40: #DEE1E3;
$su-gray-light-30: #E6E8EA;
$su-gray-light-20: #EFF0F1;
$su-gray-light-10: #F7F7F8;
$su-gray-light-5: #FCFCFC;

//Gray Medium

$su-gray-medium-100: #707780;
$su-gray-medium-90: #7E858D;
$su-gray-medium-80: #8D9299;
$su-gray-medium-70: #9BA0A6;
$su-gray-medium-60: #A9ADB3;
$su-gray-medium-50: #B8BBC0;
$su-gray-medium-40: #C6C9CC;
$su-gray-medium-30: #D4D6D9;
$su-gray-medium-20: #E2E4E6;
$su-gray-medium-10: #F1F1F2;
$su-gray-medium-5: #FBFBFB;

//Gray Dark
//Blue Primary
//Blue Medium
//Blue Light
//Orange Dark
//Orange Medim
//Orange Primary
//Orange Light